body{
    background-image: url("notepaper.jpg");
   background-repeat: no-repeat;
    background-position: top;
    background-size: auto;
}
.container{
    margin-top: 495px;
}
.shoppingList{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
}

.inputBlock{
    display: flex;
    flex-direction: row;
    align-content: center;
}
.done{
  text-decoration: line-through;
    color: red;
}

ul{
    display: block;
}

#btnDelete{
    margin-left: 15px;
    
}